* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background:
        radial-gradient(circle at 20% 20%, rgba(15, 3, 36, 0.55), transparent 55%),
        radial-gradient(circle at 80% 80%, rgba(20, 0, 53, 0.45), transparent 60%),
        linear-gradient(180deg, #050505 0%, #070113 35%, #000000 100%);
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeIn 2.5s ease forwards .5s;
    opacity:0;
}

@keyframes fadeIn {
    from {opacity:0; transform: translateY(0px);}
    to {opacity:1; transform: translateY(0);}
}

@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/3ea032aa7c/UntitledProject/icomoon.eot?p4kbhw');
  src:  url('https://i.icomoon.io/public/temp/3ea032aa7c/UntitledProject/icomoon.eot?p4kbhw#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/3ea032aa7c/UntitledProject/icomoon.ttf?p4kbhw') format('truetype'),
    url('https://i.icomoon.io/public/temp/3ea032aa7c/UntitledProject/icomoon.woff?p4kbhw') format('woff'),
    url('https://i.icomoon.io/public/temp/3ea032aa7c/UntitledProject/icomoon.svg?p4kbhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rym .path1:before {
  content: "\e900";
  color: rgb(229, 227, 228);
}
.icon-rym .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(41, 98, 172);
}
.icon-rym .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(111, 183, 226);
}
.icon-rym .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(21, 66, 132);
}
.icon-rym .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(21, 64, 128);
}

.container {
    animation: fadeIn 2.5s ease forwards .5s;
    opacity:0;
    position:fixed;
    top:200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.title {
    opacity:1;
}

.name {
    font-size: 4.0rem;
    font-weight: 800;
}

.aka {
    font-size: 1.5rem;
    font-weight: 100;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 228px;
}

.btn-list {
    gap: 0.8rem;
    display:flex;
}

.btn {
    display:grid;
    place-items:center;
    width:3rem;
    transition: 0.4s;
    height:3rem;
    border-radius:3rem;
    border: 1.5px solid rgba(148,163,184,0.6);
    background:rgba(35, 9, 49, 0.3);
    backdrop-filter:blur(10px);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.04);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    position:absolute;
    transition: transform 0.4s ease;
    color: rgb(200, 187, 214);
}

.fa-github {
    font-size:2.0rem;
}

.fa-discord {
    font-size:1.7rem;
}

.fa-steam {
    font-size:2rem;
}

.fa-twitter {
    font-size:1.9rem;
}

.fa-compact-disc {
    font-size:2rem;
}

.roblox {
    width:42px
}

.btn:hover {
    background:rgba(101, 56, 127, 0.2);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.04);
    width:14.0rem;
}

.btn:hover .icon{
    transform: translateX(-5.5rem);
}

.btn:hover .url {
    opacity:1;
    transform: translateX(0);
}

.url {
    transition: opacity 0.4s ease, transform 0.3s ease;
    font-size:1rem;
    position:absolute;
    left:2.8rem;
    white-space:nowrap;
    opacity:0;
    transform: translateX(2rem);
}