* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background:
        radial-gradient(circle at 20% 20%, rgba(15, 3, 36, 0.55), transparent 55%),
        radial-gradient(circle at 80% 80%, rgba(20, 0, 53, 0.45), transparent 60%),
        linear-gradient(180deg, #050505 0%, #070113 35%, #000000 100%);
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeIn 2.5s ease forwards .5s;
    opacity:0;
}

@keyframes fadeIn {
    from {opacity:0; transform: translateY(0px);}
    to {opacity:1; transform: translateY(0);}
}

.container {
    animation: fadeIn 2.5s ease forwards .5s;
    opacity:0;
    position:fixed;
    top:200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.title {
    opacity:1;
}

.name {
    font-size: 4.0rem;
    font-weight: 800;
}

.aka {
    font-size: 1.5rem;
    font-weight: 100;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 228px;
}

.btn-list {
    gap: 0.8rem;
    display:flex;
}

.btn {
    display:grid;
    place-items:center;
    width:3rem;
    transition: width 0.4s ease;
    height:3rem;
    border-radius:3rem;
    border: 1.5px solid rgba(148,163,184,0.6);
    background:rgba(47,32,55,0);
    backdrop-filter:blur(10px);
}

a {
    text-decoration: none;
    color: inherit;
}

.fa-github {
    font-size:2.0rem;
    transition: transform 0.4s ease;
    color: rgba(148, 163, 184, 1);
}

.btn:hover {
    background:rgba(47,32,55,0.3);
    width:9.0rem;
}

.btn:hover .fa-github {
    transform: translateX(-3.0rem)
}